*.pyc
*.[oa]
*.l[oa]
*.so
cmake_install.cmake
CMakeFiles
Makefile
Makefile.in
.deps
.libs
.dirstamp

# Mac/Xcode junk
DerivedData
Payload
apple/build
apple/ios/lib
.DS_Store
xcuserdata
*.pbxuser

/aclocal.m4
/admin/config.guess
/admin/config.sub
/admin/depcomp
/admin/install-sh
/admin/ltmain.sh
/admin/missing
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/gemrb.spec
/gemrb/gemrb
/libtool
/stamp-h1
/cmake_uninstall.cmake
/CMakeCache.txt

obj-x86_64-linux-gnu/
debian/*.log
debian/*.debhelper
debian/*.substvars
debian/files
debian/gemrb-baldurs-gate-2-data/
debian/gemrb-baldurs-gate-2/
debian/gemrb-baldurs-gate-data/
debian/gemrb-baldurs-gate/
debian/gemrb-data/
debian/gemrb-doc/
debian/gemrb-icewind-dale-2-data/
debian/gemrb-icewind-dale-2/
debian/gemrb-icewind-dale-data/
debian/gemrb-icewind-dale/
debian/gemrb-planescape-torment-data/
debian/gemrb-planescape-torment/
debian/gemrb/
debian/libgemrb/
debian/tmp/
