# Copy this file to ~/.gemrb/icewind-dale.cfg and
# edit the GamePath setting to point to your Icewind
# Dale: Heart of Winter installation folder.

GameName=GemRB - Icewind Dale: Heart of Winter
GameType=how

GamePath=~/icewind-dale-how
CD1=~/icewind-dale-how/cd1/
CD2=~/icewind-dale-how/cd2/
CD3=~/icewind-dale-how/cd3/
CD4=~/icewind-dale-how/cd4/
CD5=~/icewind-dale-how/cd5/

Fullscreen=0
Width=1024
Height=768
Bpp=32

TooltipDelay=500

#AudioDriver = openal
#VolumeAmbients = 100
#VolumeMovie = 100
#VolumeMusic = 100
#VolumeSFX = 100
#VolumeVoices = 100

GUIEnhancements = 1

CachePath=~/.cache/icewind-dale-how/
SavePath=~/.local/share/icewind-dale-how/
