# Copy this file to ~/.gemrb/icewind-dale.cfg and
# edit the GamePath setting to point to your Icewind
# Dale 2 installation folder.

GameName=GemRB - Icewind Dale 2
GameType=iwd2

GamePath=~/icewind-dale-2
CD1=~/icewind-dale-2/cd1/
CD2=~/icewind-dale-2/cd2/
CD3=~/icewind-dale-2/cd3/
CD4=~/icewind-dale-2/cd4/
CD5=~/icewind-dale-2/cd5/

Fullscreen=0
Width=1024
Height=768
Bpp=32

TooltipDelay=500

#AudioDriver = openal
#VolumeAmbients = 100
#VolumeMovie = 100
#VolumeMusic = 100
#VolumeSFX = 100
#VolumeVoices = 100

GUIEnhancements = 15

CachePath=~/.cache/icewind-dale-2/
SavePath=~/.local/share/icewind-dale-2/
