#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --with python2

override_dh_auto_install:
	dh_auto_install
	install -d debian/tmp/usr/games/
	for game in baldurs-gate baldurs-gate-2 icewind-dale icewind-dale-how icewind-dale-2 planescape-torment; \
	do \
	    ln -s gemrb      debian/tmp/usr/games/$${game}; \
	    ln -s gemrb.6.gz debian/tmp/usr/share/man/man6/$${game}.6.gz; \
	    ln -s gemrb.svg  debian/tmp/usr/share/icons/hicolor/scalable/apps/$${game}.svg; \
	    ln -s gemrb.png  debian/tmp/usr/share/pixmaps/$${game}.png; \
	done

override_dh_builddeb:
	dh_builddeb -- -Zxz
